# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
tfplan
plan.txt
crash.log
terraform.tfvars
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Locales
.env
Thumbs.db
.DS_Store

__pycache__/
